{% extends 'app/main.html' %} {% load static %} {% block content %}
<div class="container-fluid">
  <h5>About us</h5>
  <div class="row text-center">
    <div class="col">
      <img src="../../../statics/images/album-default.png" />
    </div>
    <p class="col font-weight: medium text-justify mt-4">
      We provide information about all the colleges here in Nepal and courses
      they provide. All the data are gathering from authorized websites. Our
      sathi chatbot helps you communicate with specialist and condsultants. This
      is the best consultancy website in nepal. You can also play our quiz game
      to find best courses for you according to your choices. You can contact us
      in out hotlie for more iformation.
    </p>
  </div>
  <div class="row text-center">
    <p class="col font-weight: medium text-justify mt-4">
      We provide information about all the colleges here in Nepal and courses
      they provide. All the data are gathering from authorized websites. Our
      sathi chatbot helps you communicate with specialist and condsultants. This
      is the best consultancy website in nepal. You can also play our quiz game
      to find best courses for you according to your choices. You can contact us
      in out hotlie for more iformation.
    </p>
    <div class="col">
      <img src="../../../statics/images/album-default.png" />
    </div>
  </div>
  <div class="row text-center">
    <div class="col">
      <img src="../../../statics/images/album-default.png" />
    </div>
    <p class="col font-weight: medium text-justify mt-4">
      We provide information about all the colleges here in Nepal and courses
      they provide. All the data are gathering from authorized websites. Our
      sathi chatbot helps you communicate with specialist and condsultants. This
      is the best consultancy website in nepal. You can also play our quiz game
      to find best courses for you according to your choices. You can contact us
      in out hotlie for more iformation.
    </p>
  </div>
</div>
{% endblock %}
