{% extends 'app/main.html' %} {% load static %} {% load myapp_url %} {% block content %}
<div class="container-fluid">
  <div class="d-flex flex-nowrap justify-content-between">
    <div class="w-60%">
      <h5>Colleges in Nepal</h5>
      <div
        class="d-flex justify-content-start flex-wrap"
        style="width: 100%; margin-top: 20px"
      >
        {% if search %} {% for c in college %}
        <div
          class="card"
          style="
            margin-right: 20px;
            margin-bottom: 20px;
            width: 250px;
            box-shadow: 0px 0px 10px 0px rgb(204, 204, 204);
            cursor: pointer;
            height: 250px;
          "
        >
          <img
            class="card-img-top"
            src="{{c.collegeImg.url}}"
            alt="Card image cap"
            style="width: 100%; height: 50%"
          />
          <div style="margin-left: 10px; margin-top: 20px">
            <a
              href="{% url 'collegeDetail' c.collegeId %}"
              style="font-weight: bold; font-size: 18px; color: black"
              class="card-title"
              >{{c.collegeName}}</a
            >
            <h6 class="card-subtitle mb-2 text-muted mt-2">{{c.university}}</h6>
            <p class="card-text">{{c.collegeAddress}}</p>
          </div>
        </div>
        {% endfor %} {% endif %} {% for college in colleges %}
        <div
          class="card"
          style="
            margin-right: 20px;
            margin-bottom: 20px;
            width: 250px;
            box-shadow: 0px 0px 10px 0px rgb(204, 204, 204);
            cursor: pointer;
            height: 250px;
          "
        >
          <img
            class="card-img-top"
            src="{{college.collegeImg.url}}"
            alt="Card image cap"
            style="width: 100%; height: 50%"
          />
          <div style="margin-left: 10px; margin-top: 20px">
            <a
              href="{% url 'collegeDetail' college.collegeId %}"
              style="font-weight: bold; font-size: 18px; color: black"
              class="card-title"
              >{{college.collegeName}}</a
            >
            <h6 class="card-subtitle mb-2 text-muted mt-2">
              {{college.university}}
            </h6>
            <p class="card-text">{{college.collegeAddress}}</p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <div
      class="d-flex flex-column border-left w-40%"
      style="padding-left: 20px"
    >
      <h5>Search</h5>
      <div class="border-bottom">
        <h6>Course</h6>
        <div class="flex-row">
          <input type="radio" aria-label="Masters" />
          <label>Masters</label>
          <input type="radio" aria-label="Bachelors" />
          <label>Bachelors</label>
          <input type="radio" aria-label="PreDiploma" />
          <label>PreDiploma</label>
        </div>
      </div>
      <div>
        <h6>Affillation</h6>
        <!-- {% for i in uni %}
        <div class="flex-row">
          <input type="radio" aria-label="Masters" />
          <label>{{i.uniName}}</label>
        </div>
        {%endfor%} -->
        <form method="get">
          {{myFilter.form}}<button class="btn btn-primary" type="submit">
            Search
          </button>
        </form>
      </div>
    </div>
  </div>
  <div class="pagination">
    <span class="step-links">
      {% if colleges.has_previous %}
      <!-- <a href="?page=1">&laquo; first</a> -->
      <a
        href="{% my_url colleges.previous_page_number 'page' request.GET.urlencoded %}"
        >&laquo; previous</a
      >
      {% endif %}

      <span class="current">
        Page {{ colleges.number }} of {{ colleges.paginator.num_pages }}.
      </span>

      {% if colleges.has_next %}
      <a
        href="{% my_url colleges.next_page_number 'page' request.GET.urlencoded %}"
        >next &raquo;</a
      >
      {% endif %}
    </span>
  </div>
</div>
{% endblock %}
