{% extends 'app/main.html' %} {% load static %} {% block content %}
<div class="container-fluid">
  <div class="d-flex flex-nowrap justify-content-between">
    <div class="w-60%">
      <h5>Colleges in Nepal</h5>
      <div
        class="d-flex justify-content-start flex-wrap"
        style="width: 100%; margin-top: 20px"
      >
        {% for college in colleges %}
        <div
          class="card"
          style="
            margin-right: 20px;
            margin-bottom: 20px;
            width: 23%;
            box-shadow: 0px 0px 10px 0px rgb(204, 204, 204);
            cursor: pointer;
            height: 250px;
          "
        >
          <img
            class="card-img-top"
            src="{{college.collegeImg.url}}"
            alt="Card image cap"
            style="width: 100%; height: 50%"
          />
          <div style="margin-left: 10px; margin-top: 20px">
            <a
              href="{% url 'collegeDetail' %}"
              style="font-weight: bold; font-size: 18px; color: black;"
              class="card-title"
              >{{college.collegeName}}</a
            >
            <h6 class="card-subtitle mb-2 text-muted mt-2">
              {{college.university}}
            </h6>
            <p class="card-text">{{college.collegeAddress}}</p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="border-left w-40%">
      <h5>Search</h5>
      <div>
        <h6>Course</h6>
        <input type="radio" aria-label="Masters" />Masters
        <input type="radio" aria-label="Masters" />Bachelors
        <input type="radio" aria-label="Masters" />PreDiploma
      </div>
      <div>
        <h6>Place</h6>
        <input type="radio" aria-label="Masters" />university
      </div>
    </div>
  </div>
</div>
{% endblock %}
