{% extends 'app/main.html' %} {% load static %} {% block content %}
<div class="container-fluid">
  <h4>Scholarship Programmes</h4>
  {% for i in scholar %}
  <div
    class="card"
    style="
      margin-right: 20px;
      margin-bottom: 20px;
      box-shadow: 0px 0px 10px 0px rgb(204, 204, 204);
      cursor: pointer;
      width: 100%;
      height: 100px;
      padding: 10px;
    "
  >
    <h5>{{i.s_Title}}</h5>
    <div class="d-flex width-100%">
      <label style="opacity: 0.6">From: </label>
      <p style="padding-right: 5px; padding-left: 5px">{{i.s_openFrom}}</p>
      <label style="opacity: 0.6"> Until: </label>
      <p style="padding-right: 5px; padding-left: 5px">{{i.s_until}}</p>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
