{% extends 'app/main.html' %} {% load static %} {% block content %}
<div class="container-fluid">
  <h4>Scholarship Programmes</h4>
  <div class="d-flex flex-wrap">
    {% for i in scholar %}
    <div
      class="card"
      style="
        margin-right: 20px;
        margin-bottom: 20px;
        box-shadow: 0px 0px 10px 0px rgb(204, 204, 204);
        cursor: pointer;
        width: 23%;
        height: 350px;
        padding: 10px;
      "
    >
      <img
        style="width: auto; height: auto"
        src="../../../statics/images/album-default.png"
      />

      <h5 class="text-truncate">{{i.s_Title}}</h5>
      <div class="d-flex">
        <label style="opacity: 0.6">From: </label>
        <p style="padding-right: 5px; padding-left: 5px">{{i.s_openFrom}}</p>
        <label style="opacity: 0.6"> Until: </label>
        <p style="padding-right: 5px; padding-left: 5px">{{i.s_until}}</p>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
