{% extends 'app/main.html' %} {% load static %} {% block content %}
<div class="container-fluid">
  <h4>Vacancies</h4>
  <div class="d-flex flex-wrap">
    {% for i in vacancy %}
    <div
      class="card"
      style="
        margin-right: 20px;
        margin-bottom: 20px;
        box-shadow: 0px 0px 10px 0px rgb(204, 204, 204);
        cursor: pointer;
        width: 23%;
        height: 350;
        padding: 10px;
      "
    >
      <img style="width: auto; height: auto" src="{{i.v_img.url }}" />

      <h5 class="text-truncate">{{i.v_Title}}</h5>
      <div class="d-flex width-100%">
        <label style="opacity: 0.6">From: </label>
        <p style="padding-right: 5px; padding-left: 5px">{{i.v_openFrom}}</p>
      </div>
      <div class="d-flex">
        <label style="opacity: 0.6"> Until: </label>
        <p style="padding-right: 5px; padding-left: 5px">{{i.v_until}}</p>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
